/** structure */
:root{
    font-size: 16px;
}
body *{
    border: 0.5rem solid black;
    
}



/** properties/style */

.game-column{
    min-width: 100svw;
    min-height: 100svh;
}

.board-container{
    min-width: 20rem;
    min-height: 20rem;
}

/** layout */

.board-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

}

.game-column{
    display: flex;
    flex-direction: column;
}